source https://api.nuget.org/v3/index.json

nuget coveralls.net
nuget FAKE prerelease
nuget FAKE.Core
nuget Fake.Testing.ReportGenerator
nuget FAKE.IO.FileSystem
nuget OpenCover
nuget ReportGenerator
